@{
	ViewData["Title"] = "Details";
}

@model Post

<html xmlns="http://www.w3.org/1999/xhtml">
<head>
 <meta name="viewport" content="width=device-width,initial-scale=1">
    <title>Index</title>
    <link rel="stylesheet" type="text/css" href="https://demo.plantpot.works/assets/css/normalize.css">
    <link rel="stylesheet" href="https://use.typekit.net/opg3wle.css">
	<link href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/6.0.0/css/all.min.css" rel="stylesheet" />
</head>
<body>
	<link href="https://maxcdn.bootstrapcdn.com/font-awesome/4.3.0/css/font-awesome.min.css" rel="stylesheet" />
	<div class="container shadow-lg rounded" style="margin-top:-20px;">
		<!-- product -->
		<div class=" product-wrap product-deatil">
			<div class="row">
				<div class="col-md-5 col-sm-12 col-xs-12>
					<div class="product-image">
								@{
									var imagePath = "~/images/" + (Model.ImagePath);
											<!-- Slide 1 -->
											<div class="item justify-content-center active">
												<img src="@("https://localhost:7061/images/" + Model.ImagePath)" asp-append-version="true" class="mx-auto" alt="" />
											</div>
								}
					</div>
				</div>
					<hr />
				<div class="col-md-6 col-md-offset-1 col-sm-12 col-xs-12 ">
					<h2 class="name">
						<b>Posted by:</b> @Model.UserName
					</h2>
					<hr />
					<h4 class="price-container">
						<b>Description:</b> @Model.Description
					</h4>
					<hr />
					<div class="description description-tabs">
						<div class="tab-pane fade" id="more-information">
							<br />
							<p class="text-justify">@Model.Description</p>
						</div>
					</div>
				</div>
					</div>
				</div>
			</div>
		</div>
		<!-- end product -->
	</div>
	<script type="text/javascript">
	</script>
</body>
</html>