
<head>
	<meta name="viewport" content="width=device-width,initial-scale=1">
	<title>ErrorPage</title>
	<link rel="stylesheet" type="text/css" href="https://demo.plantpot.works/assets/css/normalize.css">
	<link rel="stylesheet" href="https://use.typekit.net/opg3wle.css">
	<link href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/6.0.0/css/all.min.css" rel="stylesheet" />
</head>
<body>
	<h1>Error</h1>
	<hr>
	<div class="container">
		<div class="row">
			<main class="col-md-9">
				<div class="row ">
					<p>Something went wrong. Page does not exist!</p>
				</div>

			</main>
		</div>
</body>

