
<head>
 <meta name="viewport" content="width=device-width,initial-scale=1">
    <title>Index</title>
    <link rel="stylesheet" type="text/css" href="https://demo.plantpot.works/assets/css/normalize.css">
    <link rel="stylesheet" href="https://use.typekit.net/opg3wle.css">
	<link href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/6.0.0/css/all.min.css" rel="stylesheet" />
</head>
<style>
 #container {
  display: flex;
  justify-content: center;
  align-items: center;
        position: relative;

}

    p {
        text-align:center; 
  vertical-align: middle;
    }
</style>
<body>


    <div style="width:1600px;height: 800px;">
        <div style="float:right; position:relative; font-size:36px;vertical-align: central;top:30%;">
            <p>Find what your friends doing!</p>
            <p> Share your ideas!</p>
            <p> Pin any photos!</p>
                <br />
            <p> Join us!</p>
            </div>
        <div style="float:right;overflow: hidden; width:1150px;">
                <img src="~/Images/connected.png" id="index1">
            </div>
        
       
    </div>
</body>
</html>