@model List<TestWeather>

 
    @foreach (var testObject in Model)
    {
    <table>
       <tr>
        <td>@testObject.Date</td>
        <td>@testObject.Summary</td>
        <td>@testObject.TemperatureF</td>
        <td>@testObject.TemperatureC</td>
       </tr>
    </table>
    }